<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xl-">
            <div class="wrapper wrapper-content animated fadeInRight">

                <!-- UPPER PANEL -->
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Secure Data Collector - 2021</h2>
                        <span>This is panel that provides list of flats and central units for building.<br></span>
                    </div>
                </div>

                <!-- MAIN PANEL -->
                <div class="ibox-content forum-container">
                    <!-- GENERAL Panel  -->
                    <div class="forum-title">
                        <h4>BUILDING ADDRESS</h4>
                    </div>
                    <div th:with="buildings = ${ {building} }">
                        <div th:replace="fragments/buildings_table.html :: buildings_table(buildings=${buildings})"></div>
                    </div>
                </div>

                <!-- ADD NEW FLAT -->
                <div class="ibox-content forum-container">
                    <!-- GENERAL Panel  -->
                    <div class="forum-title">
                        <h4>NEW FLAT FOR THIS BUILDING</h4>
                    </div>

                    <div th:replace="fragments/add-new_flat_with_owners_for_building.html"></div>
                </div>

                <!-- ADD NEW CENTRAL UNIT -->
                <div class="ibox-content forum-container">
                    <!-- GENERAL Panel  -->
                    <div class="forum-title">
                        <h4>NEW CENTRAL UNIT FOR THIS BUILDING</h4>
                    </div>

                    <div th:replace="fragments/add-new_centralUnit.html"></div>
                </div>

                <div class="ibox-content forum-container">
                    <!-- GENERAL Panel  -->
                    <div class="forum-title">
                        <h4>FLATS</h4>
                    </div>
                    <div th:replace="fragments/flats_table.html :: flats_table(flats=${building.flats})"></div>
                </div>

                <div class="ibox-content forum-container">
                    <!-- GENERAL Panel  -->
                    <div class="forum-title">
                        <h4>CENTRAL UNITS</h4>
                    </div>
                    <div th:replace="fragments/centralUnits_table.html :: centralUnits_table(centralUnits=${building.centralUnits})"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>