<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <!-- UPPER PANEL -->
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Secure Data Collector - 2021</h2>
                        <span>This is panel that provides list of flats and central units for building.<br></span>
                    </div>
                </div>



                <!-- MAIN PANEL -->


                <!-- Tab links -->
                <div class="tab">
                    <button class="tablinks" onclick="openBuildingTab(event, 'Overview')">Overview</button>
                    <button class="tablinks" onclick="openBuildingTab(event, 'Physical')">Building</button>
                    <button class="tablinks" onclick="openBuildingTab(event, 'Logical')">Central Unit</button>
                </div>

                <!-- Overview -->
                <div style="display: block" id="Overview" class="ibox-content form-container tabcontent">
                    <div class="ibox-content form-container">
                        <script th:src="@{${base_url} + '/static/js/Chart.js'}" type="text/javascript"></script>
                        <div style="width: 100%">
                            <canvas id="graph-last30days" style="background-color: #ffffff"></canvas>
                        </div>
                        <script th:src="@{${base_url} + '/static/js/graph-building.js'}" type="text/javascript"></script>
                    </div>
                </div>

                <!-- building options-->
                <div  id="Physical" class="ibox-content form-container tabcontent">

                    <div class="ibox-content form-container">
                        <!-- GENERAL Panel  -->
                        <div class="forum-title">
                            <h4>BUILDING ADDRESS</h4>
                        </div>
                        <div th:with="buildings = ${ {building} }">
                            <div th:replace="fragments/buildings_table.html :: buildings_table(buildings=${buildings})"></div>
                        </div>
                    </div>

                    <!-- ADD NEW FLAT -->
                    <div class="ibox-content form-container">
                        <!-- GENERAL -->
                        <div class="forum-title">
                            <h4>NEW FLAT FOR THIS BUILDING</h4>
                        </div>

                        <div th:replace="fragments/add-new_flat_with_owners_for_building.html"></div>
                    </div>

                    <div class="ibox-content form-container">
                        <!-- GENERAL Panel  -->
                        <div class="forum-title">
                            <h4>FLATS</h4>
                        </div>
                        <div th:replace="fragments/flats_table.html :: flats_table(flats=${building.flats})"></div>
                    </div>
                </div>

                <!-- central options-->
                <div id="Logical" class="ibox-content form-container tabcontent">

                    <div class="ibox-content form-container">
                        <div th:if="${building.centralUnits.isEmpty()}">
                            <div  th:replace="fragments/add-new_centralUnit.html"></div>
                        </div>

                        <div th:unless="${building.centralUnits.isEmpty()}">
                            <h5>List</h5>
                            <div th:replace="fragments/centralUnits_table.html :: centralUnits_table(centralUnits=${building.centralUnits})"></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>