<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
            <div class="col-sm-2">
                    <p th:text="${'Flat ID: ' + flat.id}"></p>
                    <p th:text="${'Flat detail: ' + flat.apartmentNO}"></p>
                    <p th:text="${'Country: ' + flat.address.country}"></p>
                    <p th:text="${'City: ' + flat.address.city}"></p>
                    <p th:text="${'Address: ' + flat.address.street + ' ' + flat.address.houseNO}"></p>
                    <p th:text="${'ZIP code: ' + flat.address.zip}"></p>
            </div>
            <div class="col-sm-10">

                    <script th:src="@{${base_url} + '/static/js/Chart.js'}" type="text/javascript"></script>
                    <div style="width: 100%">
                        <canvas id="graph-last30days" style="background-color: #ffffff"></canvas>
                    </div>
                    <script th:src="@{${base_url} + '/static/js/graph-last30days.js'}" type="text/javascript"></script>

            </div>
            </div>



            <!-- TODO testoval som tuto situaciu ale nikdy nenestala lebo zrejme hadzes v takom pripade uz vo doesUserHaveRightToSeeProjectBelongingToFlat 404. Musis ju prestat hadzat aby som to vedel zobrazit ako si chcel -->
            <p th:if="${flat.controllerUnits.isEmpty()}">This flat does not have any controller units yet.</p>


            <!-- info o central jednotke -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Shortend identifier</th>
                    <th scope="col">SIM NO</th>
                    <th scope="col">IMEI</th>
                    <th scope="col">ZWAVE identifier</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${flat.centralUnit.friendlyName}"></td>
                    <td th:text="${flat.centralUnit.simNO}"></td>
                    <td th:text="${flat.centralUnit.imei}"></td>
                    <td th:text="${flat.centralUnit.zwave}"></td>
                </tr>
                </tbody>
            </table>


            <!-- Zobrazenie len ak si admin -->
            <div th:if="${isAdmin}">
                <!-- Formular na pridavanie nového controllerUnit -->
                <!-- tlacidlo prepinac -->
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingbottom padding-top-10">
                        <button style="display: none" id="toggle-button-addition-show" class="roundedbutton min-width-300" onclick="showVisibilityOfAdditionElement()">Show option of Controller Unition Creation</button>
                    </div>
                    <div class="regpaddingbottom padding-top-10">
                        <button style="display: block" id="toggle-button-addition-hide" class="roundedbutton min-width-300" onclick="hideVisibilityOfAdditionElement()">Hide option of Controller Unition Creation</button>
                    </div>
                </div>
                <!-- samotny formular co sa skryva -->
                <div class="grid col-sm-12 " id="addition-toggle">
                    <div class="row justify-content-center regpadding rowinrightcol createuser">
                        <h1 class="reglogheader">Create new Controller Unit for this flat</h1>
                    </div>


                    <div class="grid regpadding">
                        <div class="row justify-content-center">
                            <div class="regpaddingtopbottom padding-right-5">
                                <label for="controller-uid">UID:</label>
                                <div><input type="text" id="controller-uid" placeholder="should be generated" required=""></div>
                            </div>
                            <div class="regpaddingtopbottom padding-left-5">
                                <label for="controller-dip_address">DIP Address:</label>
                                <div><input type="text" id="controller-dip_address" placeholder="1-255" required=""></div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="regpaddingtopbottom">
                                <label for="controller-zwave">Zwave identifier:</label>
                                <div><input class="min-width-300" type="text" id="controller-zwave" placeholder="ZW-XXX" required=""></div>
                            </div>
                        </div>
                        <!-- HIDE THIS BUT KEEP THIS ITS IMPORTANT-->
                        <input type="hidden" th:value="${flat.id}" id="controller-flat-id">
                        <!-- BUTTONS FOR ADDITION -->
                        <div class="row justify-content-center rowinrightcol">
                            <div class="regpaddingbottom padding-top-10">
                                <button type="submit" class="roundedbutton min-width-300" onclick="createControllerUnitForThisFlat()">Create</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div th:unless="${flat.controllerUnits.isEmpty()}">
                <!-- test only -->
                <main class="st_viewport">
                    <div th:each="controllerUnit: ${flat.controllerUnits}">
                        <div th:replace="fragments/controllerUnit_table.html :: controllerUnit_table(controllerUnit=${controllerUnit})"></div>
                    </div>
                </main>
                <!-- test only -->
            </div>

        </div>
    </div>
</body>
</html>