<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
            <div class="col-sm-2">
                    <p th:text="${'Flat ID: ' + flat.id}"></p>
                    <p th:text="${'Flat detail: ' + flat.apartmentNO}"></p>
                    <p th:text="${'Country: ' + flat.address.country}"></p>
                    <p th:text="${'City: ' + flat.address.city}"></p>
                    <p th:text="${'Address: ' + flat.address.street + ' ' + flat.address.houseNO}"></p>
                    <p th:text="${'ZIP code: ' + flat.address.zip}"></p>
            </div>
            <div class="col-sm-10">

                    <script th:src="@{${base_url} + '/static/js/Chart.js'}" type="text/javascript"></script>
                    <div style="width: 100%">
                        <canvas id="graph-last30days" style="background-color: #ffffff"></canvas>
                    </div>
                    <script th:src="@{${base_url} + '/static/js/graph-last30days.js'}" type="text/javascript"></script>

            </div>
            </div>



            <!-- TODO testoval som tuto situaciu ale nikdy nenestala lebo zrejme hadzes v takom pripade uz vo doesUserHaveRightToSeeProjectBelongingToFlat 404. Musis ju prestat hadzat aby som to vedel zobrazit ako si chcel -->
            <p th:if="${flat.controllerUnits.isEmpty()}">Tento byt este nema jednotky nainstalovane.</p>

            <div th:unless="${flat.controllerUnits.isEmpty()}">

                <!-- info o central jednotke -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Shortend identifier</th>
                        <th scope="col">SIM NO</th>
                        <th scope="col">IMEI</th>
                        <th scope="col">ZWAVE identifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${flat.centralUnit.friendlyName}"></td>
                        <td th:text="${flat.centralUnit.simNO}"></td>
                        <td th:text="${flat.centralUnit.imei}"></td>
                        <td th:text="${flat.centralUnit.zwave}"></td>
                    </tr>
                    </tbody>
                </table>


                <!-- Zobrazenie len ak si admin -->
                <div th:if="${isAdmin}">
                    <!-- Formular na pridavanie nového controllerUnit -->
                    <!-- tlacidlo prepinac -->
                    <div class="row justify-content-center rowinrightcol">
                        <div class="regpaddingbottom padding-top-10">
                            <button style="display: none" id="toggle-button-addition-show" class="roundedbutton min-width-300" onclick="showVisibilityOfAdditionElement()">Show option of Controller Unition Creation</button>
                        </div>
                        <div class="regpaddingbottom padding-top-10">
                            <button style="display: block" id="toggle-button-addition-hide" class="roundedbutton min-width-300" onclick="hideVisibilityOfAdditionElement()">Hide option of Controller Unition Creation</button>
                        </div>
                    </div>
                    <!-- samotny formular co sa skryva -->
                    <div class="grid col-sm-12 " id="addition-toggle">
                        <div class="row justify-content-center regpadding rowinrightcol createuser">
                            <h1 class="reglogheader">Create new Controller Unit for this flat</h1>
                        </div>
                        <div class="grid regpadding">
                            <div class="row justify-content-center">
                                <div class="regpaddingtopbottom padding-right-5">
                                    <label for="controller-uid">UID:</label>
                                    <div><input type="text" id="controller-uid" placeholder="should be generated" required></div>
                                </div>
                                <div class="regpaddingtopbottom padding-left-5">
                                    <label for="controller-dip_address">DIP Address:</label>
                                    <div><input type="text" id="controller-dip_address" placeholder="1-255" required></div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="regpaddingtopbottom">
                                    <label for="controller-zwave">Zwave identifier:</label>
                                    <div><input class="min-width-300" type="text" id="controller-zwave" placeholder="ZW-XXX" required></div>
                                </div>
                            </div>
                            <!-- HIDE THIS BUT KEEP THIS ITS IMPORTANT-->
                            <div class="grid regpadding" hidden>
                                <div class="row justify-content-center rowinrightcol">
                                    <div class="regpaddingtopbottom">
                                        <label for="controller-flat-id">FLAT ID</label>
                                        <div><select class="min-width-300" id="controller-flat-id">
                                            <option th:default="${flat.id}" th:value="${flat.id}" th:text="${'id je: ' + flat.id}"></option>
                                        </select></div>
                                    </div>
                                </div>
                            </div>
                            <!-- BUTTONS FOR ADDITION -->
                            <div class="row justify-content-center rowinrightcol">
                                <div class="regpaddingbottom padding-top-10">
                                    <button class="roundedbutton min-width-300" onclick="createControllerUnitForThisFlat()">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- test only -->

                <main class="st_viewport">
                    <div th:each="controllerUnit: ${flat.controllerUnits}">
                        <div class="st_wrap_table" data-table_id="sensor">
                            <!-- controller -->
                            <header class="st_table_header">
                                <h2>Controller</h2>
                                <div class="st_row">
                                    <div class="st_column _uid">UID of controller</div>
                                    <div class="st_column _dip">DIP Address</div>
                                    <div class="st_column _zwave">Zwave identifier</div>
                                </div>
                            </header>
                            <div class="st_table" data-table_id="controller">
                                <div class="st_row">
                                    <div class="st_column _uid" th:text="${controllerUnit.UID}"></div>
                                    <div class="st_column _dip" th:text="${controllerUnit.dipAddress}"></div>
                                    <div class="st_column _zwave" th:text="${controllerUnit.zwave}"></div>
                                </div>
                            </div>
                            <!-- senzory -->
                            <div class="st_wrap_table" data-table_id="sensor">
                                <header class="st_table_header">
                                    <h2>Controller's sensors</h2>
                                    <div class="st_row">
                                        <div class="st_column _inputNum">Input number</div>
                                        <div class="st_column _sensorName">Sensor name</div>
                                        <div class="st_column _Meas30Days">Measured value [30 days]</div>
                                        <div class="st_column _MeasuredAll">Measured value [Together]</div>
                                    </div>
                                </header>
                                <div class="st_table">
                                    <div class="st_row" th:each="sensor: ${controllerUnit.sensors}">
                                        <div class="st_column _inputNum" th:text="${sensor.input}"></div>
                                        <div class="st_column _sensorName" th:text="${sensor.name}"></div>
                                        <div class="st_column _Meas30Days" th:text="${sensor.measuredLast30Days}"></div>
                                        <div class="st_column _MeasuredAll" th:text="${sensor.measuredTotal}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

                <!-- test only -->

            </div>
        </div>
    </div>
</body>
</html>