<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xl-">
            <div class="wrapper wrapper-content animated fadeInRight">

                <!-- UPPER PANEL -->
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Secure Data Collector - 2021</h2>
                        <span>This is panel that provides list of projects in system.<br></span>
                    </div>
                </div>

                <!-- MAIN PANEL -->
                <div class="ibox-content forum-container">
                    <div class="st_wrap_table">
                        <header class="st_table_header">
                            <div class="st_row">
                                <div class="st_column _index-general-longer">Name</div>
                                <div class="st_column _index-short">Created at</div>
                                <div class="st_column _index-short">Deleted at</div>
                                <div class="st_column _link">Link</div>
                            </div>
                        </header>
                        <div class="st_table">
                            <div class="st_row" th:each="project: ${projects}">
                                <div class="st_column _index-general-longer" th:text="${project.name}"></div>
                                <div class="st_column _index-short" th:text="${project.createdat}"></div>
                                <div class="st_column _index-short" th:text="${project.deletedat}"></div>
                                <div class="st_column _link project_link" th:text="${project.id}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>