<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xl-">
            <div class="wrapper wrapper-content animated fadeInRight">

                <!-- UPPER PANEL -->
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Secure Data Collector - 2021</h2>
                        <span>This is panel that provides list of buildings for project.<br></span>
                    </div>
                </div>

                <!-- MAIN PANEL -->
                <div class="ibox-content forum-container">
                    <!-- GENERAL Panel  -->
                    <div class="forum-title">
                        <h4>GENERAL</h4>
                    </div>
                    <div th:replace="fragments/project_table.html :: project_table(project=${project})"></div>
                </div>

                <div>
                    <h2>View this project's users</h2>
                    <div th:replace="fragments/users_table.html :: users_table(users=${users})"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>