<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <!-- UPPER PANEL -->
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Secure Data Collector - 2021</h2>
                        <span>This is panel that provides list of buildings for project.<br></span>
                    </div>
                </div>

                <!-- MAIN PANEL -->
                <div class="ibox-content form-container">
                    <!-- GENERAL Panel  -->
                    <div class="forum-title">
                        <h4>PROJECT USERS</h4>
                    </div>
                    <div th:replace="fragments/users_table.html :: users_table(users=${users})"></div>
                </div>

                <!-- ADD NEW BUILDING -->
                <div class="ibox-content form-container">
                    <!-- GENERAL Panel  -->
                    <div class="forum-title">
                        <h4>NEW BUILDING FOR THIS PROJECT</h4>
                    </div>

                    <div th:replace="fragments/add-new_building_for_project.html"></div>
                </div>

                <!-- VIEW PROJECT BUILDINGS -->
                <div class="ibox-content form-container">
                    <!-- GENERAL Panel  -->
                    <div class="forum-title">
                        <h4>PROJECT BUILDINGS</h4>
                    </div>
                    <div th:replace="fragments/buildings_table.html :: buildings_table(buildings=${project.buildings})"></div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>