<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>

<div>
    <div>
        <label for="beforetitle">Before title: </label>
        <div><input type="text" id="beforetitle"/></div>
    </div>
    <div>
        <label for="firstname">First name: </label>
        <div><input type="text" id="firstname"/></div>
    </div>
    <div>
        <label for="middlename">Middle name: </label>
        <div><input type="text" id="middlename"/></div>
    </div>
    <div>
        <label for="lastname">Last name: </label>
        <div><input type="text" id="lastname"/></div>
    </div>
    <div>
        <label for="phone">Phone: </label>
        <div><input type="text" id="phone"/></div>
    </div>
    <div>
        <label for="email">Email: </label>
        <div><input type="email" id="email"/></div>
    </div>
    <div>
        <label for="permanentresidence">Permanent residence: </label>
        <div><input type="text" id="permanentresidence"/></div>
    </div>
    <label for="privilege">Choose privilege type: </label>
    <div>
        <select name="privilege" id="privilege">
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
    </div>
    <button onclick="preregisterUser()">Register user</button>
</div>

</body>
</html>