<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- TIETO VECI KEDZE SU UVODNA STRANKA MUSIA ZOSTAT V TVARE HREF-->
    <script src="/dcs/static/js/collector.js" type="text/javascript"></script>
    <link href="/dcs/static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/dcs/static/images/favicon-32.png" type="image/x-icon">

    <script src="/static/js/collector.js" type="text/javascript"></script>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/images/favicon-32.png" type="image/x-icon">
    <!-- TIETO VECI KEDZE SU UVODNA STRANKA MUSIA ZOSTAT V TVARE HREF-->

    <title>SONET SLOVAKIA</title>
</head>
<body>
    <h1>Welcome at the site</h1>

    <header id="header"></header>
    <div id="content">
        <a href="/admin/view" target="_self">Admin Panel</a>
        <a href="/index" target="_self">Úvodná stránka</a>
        <a href="/roadmap" target="_self">Debug database</a>
    </div>
    <footer id="footer">author: áčťôľččťčťščžľžžšťýčžťýťžý</footer>

</body>
</html>
