<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row ">
        <div class="col-xl-12 my-5 pt-5">


            <div class="wrapper wrapper-content animated fadeInRight">

                <!-- UPPER PANEL -->
                <div th:replace="fragments/logged_header.html"></div>

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Secure Data Collector - 2021</h2>
                        <span>This is your place. You can access any link here and proceed to next place.<br></span>
                        <span th:if="${isAdmin}">You're admin.</span>
                        <span th:if="${isAdmin==false}">You're allowed to have projects.</span>
                    </div>
                </div>

                <!-- INFO LOGGED IN -->
                <main class="st_viewport">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Information about you</th>
                                <th scope="col"></th>
                            </tr>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Logged in under</th>
                            </tr>
                        </thead>
                        <tbody data-table_id="controller">
                            <tr>
                                <td th:text="${user.getBeforetitle() + ' ' + user.getFirstname() + ' ' + user.getMiddlename() + ' ' + user.getLastname()}"></td>
                                <td th:text="${user.getEmail()}"></td>
                            </tr>
                        </tbody>
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Contact information</th>
                                <th scope="col"></th>
                            </tr>
                            <tr>
                                <th scope="col">Telephone contact</th>
                                <th scope="col">Residence Address</th>
                            </tr>
                        </thead>
                        <tbody data-table_id="controller">
                            <tr class="tr-big">
                                <td th:text="${user.getPhone()}"></td>
                                <td th:text="${user.getResidence()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </main>

                <!-- MAIN PANEL -->
                <div class="ibox-content form-container">

                    <!-- ADMIN Panel  -->
                    <div th:if="${isAdmin}" class="forum-title">
                        <div class="pull-right forum-desc">
                            <samll>Only admin has right to view this</samll>
                        </div>
                        <h4>MANAGEMENT</h4>
                    </div>

                    <div th:if="${isAdmin}" class="forum-item">
                        <!-- specific access to flat-->
                        <div class="row">
                            <!-- Row name -->
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a onclick="accessFlatWithId()" class="forum-item-title clickable-text">Access flat with ID</a>
                                <div class="forum-sub-title">Access flat with id you enter in that input over there and click on the header of this row</div>
                            </div>
                            <!-- input value -->
                            <div class="col-md-1 forum-info _index-general">
                                <div class="regpaddingbottom padding-top-10">
                                    <input class="rounded-input" type="text" id="access-flatId" placeholder="ID of flat"/>
                                </div>
                            </div>
                        </div>

                        <!-- specific access to central unit-->
                        <div class="row">
                            <!-- Row name -->
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a onclick="accessCentralWithId()" class="forum-item-title clickable-text">Access central with ID</a>
                                <div class="forum-sub-title">Access central with id you enter in that input over there and click on the header of this row</div>
                            </div>
                            <!-- input value -->
                            <div class="col-md-1 forum-info _index-general">
                                <div class="regpaddingbottom padding-top-10">
                                    <input class="rounded-input" type="text" id="access-centralId" placeholder="ID of central"/>
                                </div>
                            </div>
                        </div>

                        <!-- creations -->
                        <div class="row">
                            <!-- Row name -->
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="/dcs/admin/user/create" class="forum-item-title">Create new user</a>
                                <div class="forum-sub-title">Go to a form where you will have the option to preregistrate a new user.</div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Row name -->
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="/dcs/admin/projects/create" class="forum-item-title">Create new project</a>
                                <div class="forum-sub-title">After you have user's in system you can create project and assign people to them.</div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Row name -->
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="/dcs/admin/comm-type/create" class="forum-item-title">Create new communication type</a>
                                <div class="forum-sub-title">There are predefinied ones in db as I2C, but if you wish to add new, ...</div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Row name -->
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="/dcs/admin/sensor-type/create" class="forum-item-title">Create new sensor type</a>
                                <div class="forum-sub-title">Has a company released a new sensor? Go on and add it here.</div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Row name -->
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="/dcs/admin/types" class="forum-item-title">All sensor & communication types</a>
                                <div class="forum-sub-title">To see what is available in our system go here.</div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Row name -->
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="/dcs/admin/users" class="forum-item-title">All users</a>
                                <div class="forum-sub-title">To see all users in system.</div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Row name -->
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="/dcs/admin/problems" class="forum-item-title">View problems</a>
                                <div class="forum-sub-title">To see all problems from sensors, flats, ...</div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Row name -->
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="/dcs/admin/user/creations" class="forum-item-title">View user creation logs</a>
                                <div class="forum-sub-title">To see all user creations - user's name and privileges, who created the user and when.</div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Row name -->
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="/dcs/admin/addresses/create" class="forum-item-title">Create new address</a>
                                <div class="forum-sub-title">When adding central units you need to assign them to a specific address.</div>
                            </div>
                        </div>
                    </div>

                    <!-- GENERAL Panel  -->
                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <samll>Everyone can view this</samll>
                        </div>
                        <h4>GENERAL</h4>
                    </div>

                    <div class="forum-item">
                        <div class="row">
                            <!-- Row name -->
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a onclick="goHome()" class="forum-item-title clickable-text">HOMESITE</a>
                                <div class="forum-sub-title">Access home www site of this project.</div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Row name -->
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a th:if="${isAdmin}" onclick="goToSeeYourProjects()" class="forum-item-title clickable-text">See all projects</a>
                                <a th:if="${isAdmin==false}" onclick="goToSeeYourProjects()" class="forum-item-title clickable-text">See your projects</a>
                                <div class="forum-sub-title">Look at all projects that you have priviliges to see.</div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Row name -->
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="/dcs/action/change-password" class="forum-item-title">Change your password</a>
                                <div class="forum-sub-title">In case you feel your colleague has seen you write your password.</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
