<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="row" id="two-column-container">
            <!-- PANEL -->
            <div class="grid col-sm-12 ">
                <!-- NAME -->
                <div class="row justify-content-center regpadding rowinrightcol createuser">
                    <h1 class="reglogheader">Create sensor type</h1>
                </div>
                <!-- FIELDS -->
                <div class="grid regpadding">
                    <div class="row justify-content-center rowinrightcol">
                        <div class="regpaddingtopbottom">
                            <label for="sensor-type_name">Name</label>
                            <div><input class="min-width-300" type="text" id="sensor-type_name" required/></div>
                        </div>
                    </div>
                </div>
                <div class="grid regpadding">
                    <div class="row justify-content-center rowinrightcol">
                        <div class="regpaddingtopbottom">
                            <label for="sensor-type_measured-in">Measured in</label>
                            <div><input class="min-width-300" type="text" id="sensor-type_measured-in"/></div>
                        </div>
                    </div>
                </div>
                <div class="grid regpadding">
                    <div class="row justify-content-center rowinrightcol">
                        <div class="regpaddingtopbottom">
                            <label for="comm-type_name">Communication type</label>
                            <div><select class="min-width-300" id="comm-type_name">
                                <option th:each="commType : ${commTypes}" th:value="${commType.name}" th:text="${commType.name}"></option>
                            </select></div>
                        </div>
                    </div>
                </div>
                <!-- ACTIONS AND NAVIGATION -->
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingbottom">
                        <button class="roundedbutton min-width-300" onclick="createSensorType()">Create</button>
                    </div>
                </div>
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingbottom">
                        <button class="roundedbutton min-width-300" onclick="goHome()">Go home</button>
                    </div>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
    </div>
</div>

</body>
</html>