<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>

    <h1>Admin panel configuration</h1>

    <header id="header"></header>
    <div id="content">
        <p>Welcome to the configuration panel.</p>
        <p>username: <span th:text="${loggedUser}"></span>  | privileges: <span th:text="${privileges}"></span></p>
        <a href="/dcs/admin/user/create" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PREDREGISTRACIA - novy pouzivatel</a>
        <a href="/dcs/admin/projects/create" class="w3-bar-item w3-button w3-padding-large w3-hide-small">novy projekt (vytvor pouzivatelov ale predom!)</a>
        <a href="/dcs/admin/comm-type/create" class="w3-bar-item w3-button w3-padding-large w3-hide-small">novy commType</a>
    </div>

    <div>
        <button onclick="goHome()">Homesite</button>
    </div>

    <footer id="footer">TP SONET DCS</footer>

</body>
</html>
