<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
<div class="container-fluid">
    <div class="container">

        <script th:src="@{${base_url} + '/static/js/Chart.js'}" type="text/javascript"></script>
        <div style="width: 100%">
            <canvas id="graph-last30days" style="background-color: #ffffff"></canvas>
        </div>
        <script th:src="@{${base_url} + '/static/js/graph-consumption.js'}" type="text/javascript"></script>

        <main class="st_viewport">
            <div th:replace="fragments/controllerUnit_table.html :: controllerUnit_table(controllerUnit=${controllerUnit})"></div>
        </main>

    </div>
</div>
</body>
</html>