<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="row" id="two-column-container">
            <div class="col-sm-12 ">
                <div class="row justify-content-center regpadding rowinrightcol createuser">
                    <h1 class="reglogheader">Create user</h1>
                </div>
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingtopbottom">
                        <label for="email">Email</label>
                        <div><input type="email" id="email"/></div>
                    </div>
                </div>
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingtopbottom">
                        <label for="beforetitle">Before title</label>
                        <div><input type="text" id="beforetitle"/></div>
                    </div>
                </div>
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingtopbottom">
                        <label for="firstname">First name</label>
                        <div><input type="text" id="firstname"/></div>
                    </div>
                </div>
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingtopbottom">
                        <label for="middlename">Middle name</label>
                        <div><input type="text" id="middlename"/></div>
                    </div>
                </div>
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingtopbottom">
                        <label for="lastname">Last name</label>
                        <div><input type="text" id="lastname"/></div>
                    </div>
                </div>
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingtopbottom">
                        <label for="phone">Phone</label>
                        <div><input type="text" id="phone"/></div>
                    </div>
                </div>
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingtopbottom">
                        <label for="residence">Permanent residence</label>
                        <div><input type="text" id="residence"/></div>
                    </div>
                </div>
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingtopbottom px-5">
                        <input type="checkbox" id="isadmin"/>
                        <label for="isadmin">Will the created user have admin privileges?</label>
                    </div>
                </div>
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingbottom">
                        <button class="roundedbutton" onclick="createUser()">Create user</button>
                    </div>
                </div>
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingbottom">
                        <button class="roundedbutton" onclick="goHome()">Go home</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>