<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="row" id="two-column-container">
            <!-- PANEL -->

            <div class="grid col-sm-12 ">
                <!-- NAME -->
                <div class="row justify-content-center regpadding rowinrightcol createuser">
                    <h1 class="reglogheader">Password change</h1>
                </div>
                <span class="st_column">Password has to contain at least one from each group [1+ lower and upper case, 1+ number, 1 special character]</span>

                <form>
                    <!-- FIELDS -->
                    <div class="grid regpadding">
                        <!-- old pass -->
                        <div class="row justify-content-center rowinrightcol">
                            <div class="regpaddingtopbottom">
                                <label for="password-now">Current password</label>
                                <div><input class="min-width-300" type="password" id="password-now" placeholder="Password you use now" required=""/></div>
                            </div>
                        </div>
                        <!-- new pass -->
                        <div class="row justify-content-center rowinrightcol">
                            <div class="regpaddingtopbottom">
                                <label for="password">New password</label>
                                <div><input class="min-width-300" type="password" id="password" placeholder="Your new password" required=""/></div>
                            </div>
                        </div>
                        <!-- new retype pass -->
                        <div class="row justify-content-center rowinrightcol">
                            <div class="regpaddingtopbottom">
                                <label for="password-retype">New password again</label>
                                <div><input class="min-width-300" type="password" id="password-retype" placeholder="Confirm your password" required=""/></div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- ACTIONS AND NAVIGATION -->
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingbottom">
                        <button type="submit" class="roundedbutton min-width-300" onclick="changePassword()">Change password</button>
                    </div>
                </div>
                <div class="row justify-content-center rowinrightcol">
                    <div class="regpaddingbottom">
                        <button class="roundedbutton min-width-300" onclick="goHome()">Go home</button>
                    </div>
                </div>
            </div>

            <!-- END PANEL -->
        </div>
    </div>
</div>

</body>
</html>