<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="buildings_table(buildings)" class="ibox-content form-container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Country</th>
                <th scope="col">City</th>
                <th scope="col">Street</th>
                <th scope="col">House No</th>
                <th scope="col">ZIP</th>
                <th scope="col" class="_link">Link</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="building: ${buildings}">
                <td id="building-country" th:text="${building.address.country}"></td>
                <td id="building-city" th:text="${building.address.city}"></td>
                <td id="building-street" th:text="${building.address.street}"></td>
                <td id="building-houseno" th:text="${building.address.houseno}"></td>
                <td id="building-zip" th:text="${building.address.zip}"></td>
                <td class="_link building_link" th:text="${building.id}"></td>
            </tr>
        </tbody>
    </table>
</div>

<body>
</body>
</html>
