<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="buildings_table(buildings)" class="ibox-content forum-container">
    <div class="st_wrap_table">
        <header class="st_table_header">
            <div class="st_row">
                <div class="st_column _index-short">Country</div>
                <div class="st_column _index-short">City</div>
                <div class="st_column _index-short">Street</div>
                <div class="st_column _index-short">House No</div>
                <div class="st_column _index-short">ZIP</div>
                <div class="st_column _link">Link</div>
            </div>
        </header>
        <div class="st_table">
            <div class="st_row" th:each="building: ${buildings}">
                <div class="st_column _index-short" th:text="${building.address.country}"></div>
                <div class="st_column _index-short" th:text="${building.address.city}"></div>
                <div class="st_column _index-short" th:text="${building.address.street}"></div>
                <div class="st_column _index-short" th:text="${building.address.houseno}"></div>
                <div class="st_column _index-short" th:text="${building.address.zip}"></div>
                <div class="st_column _link building_link" th:text="${building.id}"></div>
            </div>
        </div>
    </div>
</div>

<body>
</body>
</html>
