<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="centralUnits_table(centralUnits)" class="ibox-content form-container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">UID</th>
                <th scope="col">DIP address</th>
                <th scope="col">Friendly name</th>
                <th scope="col">SIM NO</th>
                <th scope="col">IMEI</th>
                <th scope="col">ZWave</th>
                <th scope="col" class="_link">Link</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="centralUnit: ${centralUnits}">
                <td th:text="${centralUnit.uid}"></td>
                <td th:text="${centralUnit.dipAddress}"></td>
                <td th:text="${centralUnit.friendlyName}"></td>
                <td th:text="${centralUnit.simNo}"></td>
                <td th:text="${centralUnit.imei}"></td>
                <td th:text="${centralUnit.zwave}"></td>
                <td class="_link centralUnit_link" th:text="${centralUnit.id}"></td>
            </tr>
        </tbody>
    </table>
</div>

<body>
</body>
</html>
