<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="centralUnits_table(centralUnits)" class="ibox-content forum-container">
    <div class="st_wrap_table">
        <header class="st_table_header">
            <div class="st_row">
                <div class="st_column _index-short">UID</div>
                <div class="st_column _index-short">DIP address</div>
                <div class="st_column _index-general">Friendly name</div>
                <div class="st_column _index-general">SIM NO</div>
                <div class="st_column _index-general">IMEI</div>
                <div class="st_column _index-short">ZWave</div>
                <div class="st_column _link">Link</div>
            </div>
        </header>
        <div class="st_table">
            <div class="st_row" th:each="centralUnit: ${centralUnits}">
                <div class="st_column _index-short" th:text="${centralUnit.uid}"></div>
                <div class="st_column _index-short" th:text="${centralUnit.dip}"></div>
                <div class="st_column _index-general" th:text="${centralUnit.friendlyName}"></div>
                <div class="st_column _index-general" th:text="${centralUnit.simNo}"></div>
                <div class="st_column _index-general" th:text="${centralUnit.imei}"></div>
                <div class="st_column _index-short" th:text="${centralUnit.zwave}"></div>
                <div class="st_column _link centralUnit_link" th:text="${centralUnit.id}"></div>
            </div>
        </div>
    </div>
</div>

<body>
</body>
</html>
