<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="controllerUnit_table(controllerUnit)" class="st_wrap_table">
    <!-- controller -->
    <header class="st_table_header">
        <h2>Controller</h2>
        <div class="st_row">
            <div class="st_column _uid">UID of controller</div>
            <div class="st_column _dip">DIP Address</div>
            <div class="st_column _zwave">Zwave identifier</div>
            <div class="st_column _link" th:if="${isAdmin}">Link</div>
        </div>
    </header>
    <div class="st_table">
        <div class="st_row">
            <div class="st_column _uid" th:text="${controllerUnit.uid}"></div>
            <div class="st_column _dip" th:text="${controllerUnit.dipAddress}"></div>
            <div class="st_column _zwave" th:text="${controllerUnit.zwave}"></div>
            <div class="st_column _link controllerUnit_link" th:text="${controllerUnit.id}" th:if="${isAdmin}"></div>
            <div></div>
        </div>
    </div>
    <!-- senzory -->
    <div class="st_wrap_table" data-table_id="sensor" th:unless="${#lists.isEmpty(controllerUnit.sensors)}">
        <header class="st_table_header">
            <h4>Controller's sensors</h4>
            <div class="st_row">
                <div class="st_column _inputNum">Input number</div>
                <div class="st_column _sensorName">Sensor name</div>
                <div class="st_column _Meas30Days">Measured value [30 days]</div>
                <div class="st_column _MeasuredAll">Measured value [Together]</div>
            </div>
        </header>
        <div class="st_table">
            <div class="st_row" th:each="sensor: ${controllerUnit.sensors}">
                <div class="st_column _inputNum" th:text="${sensor.input}"></div>
                <div class="st_column _sensorName" th:text="${sensor.name}"></div>
                <div class="st_column _Meas30Days" th:text="${sensor.measuredLast30Days}"></div>
                <div class="st_column _MeasuredAll" th:text="${sensor.measuredTotal}"></div>
            </div>
        </div>
    </div>
</div>

<body>
</body>
</html>
