<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="flats_table(flats)" class="ibox-content form-container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Apartment No</th>
                <th scope="col" class="_link">Link</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="flat: ${flats}">
                <td th:text="${flat.apartmentNO}"></td>
                <td class="_link flat_link" th:text="${flat.id}"></td>
            </tr>
        </tbody>
    </table>
</div>

<body>
</body>
</html>
