<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="flatOwners_table(flatOwners)" class="ibox-content form-container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">E-mail</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="flatOwner: ${flatOwners}">
                <td th:text="${flatOwner.email}"></td>
                <td th:text="${flatOwner.title + ' ' + flatOwner.firstName + ' ' + flatOwner.middleName + ' ' + flatOwner.lastName}"></td>
                <td th:text="${flatOwner.phone}"></td>
            </tr>
        </tbody>
    </table>
</div>

<body>
</body>
</html>
