<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="flat_table(flat)" class="st_wrap_table" data-table_id="sensor">
    <!-- controller -->
    <header class="st_table_header">
        <h2>Controller</h2>
        <div class="st_row">
            <div class="st_column _uid">Apartment Number</div>
            <div class="st_column _dip">AddressId</div>
            <div class="st_column _link" th:if="${isAdmin}">Link</div>
        </div>
    </header>
    <div class="st_table" data-table_id="controller">
        <div class="st_row">
            <div class="st_column _uid" th:text="${flat.apartmentNO}"></div> // TODO tu je nejaka chyba tie class s _ nesedia neviem co to ma robit
            <div class="st_column _dip" th:text="${flat.buildingId}"></div>
            <div class="st_column _link flat_link" th:text="${flat.id}" th:if="${isAdmin}"></div>
            <div></div>
        </div>
    </div>
</div>

<body>
</body>
</html>
