<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="flats_table(flats)" class="ibox-content forum-container">
    <div class="st_wrap_table">
        <header class="st_table_header">
            <div class="st_row">
                <div class="st_column _index-long">Apartment No</div>
                <div class="st_column _link">Link</div>
            </div>
        </header>
        <div class="st_table">
            <div class="st_row" th:each="flat: ${flats}">
                <div class="st_column _index-long" th:text="${flat.apartmentNO}"></div>
                <div class="st_column _link flat_link" th:text="${flat.id}"></div>
            </div>
        </div>
    </div>
</div>

<body>
</body>
</html>
