<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="projects_table(projects)" class="ibox-content form-container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created at</th>
                <th scope="col">Deleted at</th>
                <th scope="col" class="_link">Link</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="project: ${projects}">
                <td th:text="${project.name}"></td>
                <td th:text="${project.createdat}"></td>
                <td th:text="${project.deletedat}"></td>
                <td class="_link project_link" th:text="${project.id}"></td>
            </tr>
        </tbody>
    </table>
</div>

<body>
</body>
</html>
