<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="users_table(users)" class="ibox-content form-container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">E-mail</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Permanent residence</th>
                <th scope="col" class="_link" th:if="${isAdmin}">Link</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.email}"></td>
                <td th:text="${user.beforetitle + ' ' + user.firstname + ' ' + user.middlename + ' ' + user.lastname}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.residence}"></td>
                <td class="_link user_link" th:text="${user.userID}" th:if="${isAdmin}"></td>
            </tr>
        </tbody>
    </table>
</div>

<body>
</body>
</html>
